<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-12-10T07:14:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/shangjiaxuan/Desktop/北大/资料/大一上/计算概论/大作业/1010/my1010!.xcodeproj</string>
</dict>
</plist>
